.navbar-main {
    margin: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(21, 30, 37);
    display: flex;
    align-items: center;
}

.navbar-left {
    width: 320px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    flex-shrink: 0;
}

.navlogo {
    box-sizing: border-box;
    width: 160px;
    height: 100%;
    cursor: pointer;
    display: flex;
    border: 1px solid rgb(21, 30, 37);
}

.navlogo:hover {
    border: 1px solid white;
}

.logo {
    width: 95px;
    height: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

.logotext {
    color: white;
    padding-top: 15px;
    margin-right: 5px;
    font-size: 14px;
}

.navglobal {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    max-width: 160px;
    cursor: pointer;
    padding-left: 10px;
    border: 1px solid rgb(21, 30, 37);
    color: white;
}

.navglobal:hover {
    border: 1px solid white;
}

.maptext {
    display: flex;
    flex-direction: column;
    padding: 0;

}

#text1 {
    font-size: 12px;
}

#text2 {
    font-size: 14px;
}

#mapicon {
    font-size: 20px;
    margin-top: 17px;
    margin-right: 2px;
}

.navbar-center {
    flex: 1;
    min-width: 475px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 10px 14px 10px 13px;
    flex-shrink: 1;
}

.category-select {
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    background-color: #e6e6e6;
    display: flex;
    flex-shrink: 0;
    border-radius: 3px 0 0 3px;
    border: none;
    cursor: pointer;
}

#searchbox {
    flex-grow: 1;
    height: 40px;
    outline: none;
    padding-left: 5px;
    border: none;
    font-size: 17px;
}

.search-button {
    margin-left: auto;
    width: 45px;
    height: 40px;
    background-color: orange;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.navbar-right {
    width: 390px;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 2px 0;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
}

.nav-div {
    display: flex;
    width: 160px;
    align-items: center;
    padding-left: 10px;
    border: 1px solid rgb(21, 30, 37);
    box-sizing: border-box;
    margin: 5px;
}

.nav-div:hover {
    border: 1px solid white;
}

.div-text {
    display: flex;
    flex-direction: column;
}

#text3,
#text4 {
    color: white;
    font-size: 14px;
}

.down-icon {
    color: white;
    margin-top: 14px;
    margin-left: 5px;
}

.nav-history {
    border: 1px solid rgb(21, 30, 37);
    box-sizing: border-box;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
    margin: 5px 0 5px 5px;
}

.nav-history:hover {
    border: 1px solid white;
}

#text5,
#text6 {
    color: white;
    font-size: 14px;
}

.nav-cart {
    border: 1px solid rgb(21, 30, 37);
    width: 130px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    justify-content: center;
    margin: 5px 5px 5px 0;
}

.nav-cart:hover {
    border: 1px solid white;
}

.cart-icon {
    font-size: 25px;
    margin-top: 10px;
}

.cart-count {
    position: absolute;
    top: -2px;
    left: 35px;
    font-size: 16px;
    font-weight: bold;
    color: orange;
}

.cart-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 10px;
    font-size: 14px;
    color: white;
    line-height: 1.2;
}

.loading {
    text-align: center;
    font-size: 18px;
    color: #565959;
    padding: 40px;
    font-weight: 500;
}


