.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.menu-icon {
  color: rgba(17, 17, 17, 0.5);
  font-size: 18px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.menu-icon:hover {
  background-color: rgb(231, 231, 231);
}

.youtube-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.youtube-title {
  font-size: 20px;
  cursor: pointer;
  font-family: "YouTube Sans", "Roboto", sans-serif;
  font-weight: bold;
}

.navbar-center {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.Search-part {
  flex: 1;
  min-width: 450px;
  height: 40px;
  padding: 0 0 0 15px;
  font-size: 14px;
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 20px 0 0 20px;
  line-height: 40px;
}

.Search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  color: #505050;
  background: transparent;
  border: 1px solid #bebebe;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  font-size: 20px;
}

.mic-icon {
    width: 45px;
    height: 45px;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
}
