.sidebar {
  background: #fff;
  width: 12%;
  height: 100vh;
  position: fixed;
  top: 0;
  padding-left: 1%;
  padding-top: 80px;
  overflow-y: auto;
}

.side-list {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius: 8px;
  height: 40px;
  padding: 10px 5px 10px 10px;
  flex-wrap: wrap;
}

.side-list:hover {
  background-color: rgb(240, 240, 240);
}

.side-img {
  width: 20px;
  height: 20px;
}

.side-text {
  font-size: 12px;
}

.sub-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.sidebar h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.sidebar h4:hover {
  background-color: rgb(240, 240, 240);
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 100%;
}

.small-sidebar {
  width: 4%;
  padding-left: 0;
}

.small-sidebar .explore-part,
.small-sidebar .shortcur-part,
.small-sidebar .subscriptions-part,
.small-sidebar .side-text,
.small-sidebar hr,
.small-sidebar h3 {
  display: none;
}

.small-sidebar .you-part .you-list {
  display: none;
}

.small-sidebar .you-part .download-list {
  display: flex;
}

.small-sidebar .side-list {
  margin-left: 10px;
}