.side-list {
  display: flex;
  gap: 15px;
  padding: 5px;
  align-items: center;
  cursor: pointer;
}

.side-list:hover{
    background-color: rgb(240, 240, 240);
}

.side-img {
  width: 15px;
  height: 15px;
}

.side-text {
  font-size: 12px;
}
