.Cart-Page {
  background-color: rgba(224, 223, 223, 0.733);
  max-width: 100%;
  padding: 20px;
  height: 100%;
}
.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}
.cart-header {
  background-color: white;
  padding-bottom: 20px;
}
.cart-header p {
  font-size: 16px;
  font-weight: 600;
  color: #565959;
}
.Carttext-Part {
  box-sizing: border-box;
  background-color: white;
  padding: 25px 20px 20px 20px;
  width: 100%;
  margin: 0;
}
.clear-part {
  width: 100%;
  height: 75px;
  background-color: white;
  margin-top: 20px;
  border: none;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}
#clearCart {
  background-color: #52514f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
}
#clearCart:hover {
  background-color: #413f3d;
}
