.Cart-Page{
    background-color: rgba(189, 188, 188, 0.733);
    max-width: 100%;
    padding: 20px;
    height: 100vh;
}
.Carttext-Part{
    box-sizing: border-box;
    background-color: white;
    padding: 25px 20px 20px 20px;
    width: 100%;
    margin:0;
}