.recipeCard-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 50px;
    width: 85%;
}

.recipe-card {
    background-color: white;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 369px;
    min-height: 341px;
    transition: transform 0.2s ease;
    overflow: hidden;
}

@media (max-width: 1279px) {
    .recipe-card {
        height: 341px;
    }
}

.recipe-card:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.recipe-card:hover .recipe-images {
    transform: scale(1.05);
}

.recipe-card:hover .recipe-title {
    color: rgb(52, 111, 238);
}

.recipe-images {
    width: 100%;
    height: 192px;
    position: relative;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
}

.recipe-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.icon-part {
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: #eeeded;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.icon-part:hover {
    transform: scale(1.1);
}

.favorite-icon {
    background-color: #eeeded;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
}

.favorite-icon:hover {
    cursor: pointer;
    color: red;
}

.recipe-title {
    flex-grow: 1;
}

.recipe-text {
    border-bottom: 1px solid black;
    flex-grow: 1;
    color: rgba(77, 76, 76, 0.6);
    padding-left: 5px;
}

.click-text {
    flex-grow: 1.5;
    margin-top: 15px;
    color: rgb(52, 111, 238);
}